streamlit>=1.55.0
langchain-core>=1.2.22
langchain-community>=0.4.1
langchain-google-genai>=4.2.1
langchain-text-splitters>=1.1.1
google-generativeai
faiss-cpu>=1.13.2
pypdf>=6.9.0
python-dotenv>=1.2.0
pysqlite3-binary
